modelsim/
simulation/
designs/leon3-gr-xc3s-1500/alibs.do
designs/leon3-gr-xc3s-1500/dumpdata.txt
designs/leon3-gr-xc3s-1500/fmref.tcl
designs/leon3-gr-xc3s-1500/leon3mp.lct
designs/leon3-gr-xc3s-1500/leon3mp.ldf
designs/leon3-gr-xc3s-1500/leon3mp.npl
designs/leon3-gr-xc3s-1500/leon3mp.syn
designs/leon3-gr-xc3s-1500/leon3mp.xise
designs/leon3-gr-xc3s-1500/leon3mp_dc.tcl
designs/leon3-gr-xc3s-1500/leon3mp_libero.prj
designs/leon3-gr-xc3s-1500/leon3mp_precision.tcl
designs/leon3-gr-xc3s-1500/leon3mp_precrun.tcl
designs/leon3-gr-xc3s-1500/leon3mp_rtl_fpro.fl
designs/leon3-gr-xc3s-1500/leon3mp_synplify.npl
designs/leon3-gr-xc3s-1500/leon3mp_synplify.qsf
designs/leon3-gr-xc3s-1500/leon3mp_synplify.qpf
designs/leon3-gr-xc3s-1500/leon3mp_quartus.qpf
designs/leon3-gr-xc3s-1500/leon3mp_quartus.qsf
designs/leon3-gr-xc3s-1500/leon3mp_ise.tcl
designs/leon3-gr-xc3s-1500/leon3mp_files.prj
designs/leon3-gr-xc3s-1500/leon3mp_synplify_win32.npl
designs/leon3-gr-xc3s-1500/leon3mp_win32.npl
designs/leon3-gr-xc3s-1500/libero_sim_files
designs/leon3-gr-xc3s-1500/libero_simlist
designs/leon3-gr-xc3s-1500/libero_syn_files
designs/leon3-gr-xc3s-1500/libero_synlist
designs/leon3-gr-xc3s-1500/riviera_ws_create.do
designs/leon3-gr-xc3s-1500/testbench.mpf
designs/leon3-gr-xc3s-1500/transcript
designs/leon3-gr-xc3s-1500/verilog.txt
designs/leon3-gr-xc3s-1500/vish_stacktrace.vstf
designs/leon3-gr-xc3s-1500/vsim.wlf
designs/leon3-gr-xc3s-1500/tkparse.o
designs/leon3-gr-xc3s-1500/tkparse.exe
designs/leon3-gr-xc3s-1500/tkgen.o
designs/leon3-gr-xc3s-1500/tkcond.o
designs/leon3-gr-xc3s-1500/make.work
designs/leon3-gr-xc3s-1500/make.vsim
designs/leon3-gr-xc3s-1500/make.ncsim
designs/leon3-gr-xc3s-1500/make.asim
designs/leon3-gr-xc3s-1500/main.tk
designs/leon3-gr-xc3s-1500/make.ghdl
designs/leon3-gr-xc3s-1500/make.riviera
designs/leon3-gr-xc3s-1500/lconfig.tk
designs/leon3-gr-xc3s-1500/compile.*
designs/leon3-gr-xc3s-1500/.config.old
designs/leon3-gr-xc3s-1500/modelsim.ini
designs/leon3-gr-xc3s-1500/make.asim-addfile
designs/leon3-gr-xc3s-1500/libs.txt
designs/leon3-gr-xc3s-1500/libs.do
designs/leon3-gr-xc3s-1500/hdl.var
designs/leon3-gr-xc3s-1500/ghdl.path
designs/leon3-gr-xc3s-1500/cds.lib
1-codigo/basic/main.dump
1-codigo/basic/main.exe
1-codigo/basic/main.o
1-codigo/basic/ram.srec
1-codigo/bsort_sp/main.dump
1-codigo/bsort_sp/main.exe
1-codigo/bsort_sp/main.o
1-codigo/bsort_sp/ram.srec
designs/leon3-gr-xc3s-1500/currentsigs.tmp
designs/leon3-gr-xc3s-1500/leon3mp.rc
designs/leon3-gr-xc3s-1500/leon3mp.xst
designs/leon3-gr-xc3s-1500/leon3mp_synplify.prj
1-codigo/nmea_checksum/main.dump
1-codigo/nmea_checksum/main.o
1-codigo/nmea_checksum/ram.srec
1-codigo/hamming/main.dump
1-codigo/hamming/ram.srec
1-codigo/bsort_sp/bubblesort.o
00-original-tmr/designs/leon3-gr-xc3s-1500-tmr-1/seu_logs/TMR*.log
00-original-tmr/designs/leon3-gr-xc3s-1500-tmr-1/currentsigs.tmp
